.appsHtxt {
    color: white;
}

#apps img:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

#icons a {
    
    color: white;
    
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}
#appicons a:hover {
	background: white;
	color: black;
    transition: 0s;
}

.context-menu {
    position: absolute;
    text-align: center;
    background: #2c2c2cad;
    border: 1px solid #2e2e2e;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    -webkit-box-shadow: 0px 0px 0px 0px #000000; 
    box-shadow: 0px 0px 0px 0px #000000;
    border-radius: 10px;
}

.context-menu ul li {
    color:white;
}

.activeWindow .windowHeader {
    background-color: grey;
}



#appsmenu {
    position: fixed;
    margin: 0;
    width: 450px;
    background-color: #2c2c2cad !important;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px #000000; 
    box-shadow: 0px 0px 15px 0px #000000;
    bottom: 55px;
    left: 5px;
}
#appsmenu.opened{
    height: 450px;
}

.appsPanel {
    opacity: 1 !important;
}

#appicons {
	position: absolute;
	z-index: 10;
	top: 52px;
	height: 75%;
	/* left: 5px; */
	/* overflow-y: scroll; */
}
#appicons a br {
    display: block;
}
#appicons a {
    display: inline-table;
    cursor: pointer;
    padding: 2px 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 5px;
    transition: 0s;
    border: solid 0px transparent;
    min-width: 0px;
    text-align: unset;
}
#appicons a:hover {
	background: rgb(0, 0, 0);
	color: white;
    border: none;
}
a, h1, p, ul, input {
    color: black;
}

h1 {
    color: black;
}
.winclose {
    color: black;
}
#taskbar {
    text-align: unset;
    position: absolute;
	border-top: 2px solid #2e2e2e !important;
	bottom: 0;
    height: 32px;
	left: 0;
	right: 0;
	background: #181818ab !important;
	z-index: 99998;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

.windowHeader {
    background: grey;
    border-bottom: 2px solid #000;
    padding: 2px;
    border-radius: 4px !important;
    cursor: move;
    height: 25px;
    margin: 0px !important;
    }
.windowHeader > span {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #000;
    margin-left: 1px;
    font-size: 10px;
    padding: 4px 8px;
    font-family: "Arial Black", Gadget, sans-serif;
    border-radius: 50px;
    line-height: 10px;
    width: 5px;
    height: 14px;
    position: relative;
    overflow: hidden;
    color: black;
}
.windowHeader > span:hover {
	background: rgba(255,255,255,0.3);
}
.windowHeader > span.winclose {
	background: #f15454;
}
.windowHeader > span.winmaximize {
	background: #ffff33;
}
.windowHeader > span.winminimize {
	background: #00ff22;
}
.windowHeader > span > span {
    display: inline-block;
    height: 6px;
    width: 8px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.winminimize > span {
	border-bottom: 3px solid #000 !important;
}
.winmaximize > span {
	border: 2px solid #000 !important;
	border-top: 3px solid #000 !important;
}
.winmaximize > span:nth-child(2) {
	display: none;
}
.fullSizeWindow .winmaximize > span:nth-child(1) {
	margin: 2px 0 0 -4px;
	top: 5px !important;
	left: 6px !important;
}
.fullSizeWindow .winmaximize > span:nth-child(2) {
    display: inline-block;
    top: 2px !important;
    left: 6px !important;
}
.wincontent {
    min-width: 200px;
    min-height: 140px;
    border: 2px solid #000;
    margin: 2px;
	border-radius: 0 0 5px 5px;
}

.winclose span {
left: 10px;
}

.winclose > .priClose {
    left: 5px;
    top: 2px;
}

.winmaximize > span {
    top: 5px !important;
    left: 5.2px !important;
}

.winminimize > span {
	left: 0px;
}

.windowHeader > strong {
    float: left;
    margin: -4px 0 0 3px;
    line-height: 34px;
    font-size: 15px;
    transform: unset;
    left: unset;
    top: unset;
    position: unset;
}
.window {
    position: absolute;
    border: 2px solid #000;
    background: #CCC;
    border-radius: 7px;
    z-index: 1000;
}
.window.closed {
	display: none;
}
.window.minimizedWindow {
	display: none;
}

.window.fullSizeWindow .wincontent {
	padding: 5px 10px;
}
.themedropdown-content {
    background-color: grey;
    -webkit-box-shadow: 0px 0px 0px 0px #000000; 
    box-shadow: 0px 0px 0px 0px #000000;
    border: 2px black solid;
    
  }

  .task.activeTab {
    transform: scale(1.45);
    background-color: #2e2e2e;
}

.task:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #FFF;
}

#icons a {
    transition: 0s;
}
.fullSizeWindow {
z-index: 1000 !important;    
}