@import url(../style.css);
@import url(../themes/dev.css);


#desktop {
    background: url("https://r4.wallpaperflare.com/wallpaper/302/856/30/artwork-windows-7-sea-fish-wallpaper-d9b0088de1fafd6be647480f70e196cd.jpg");
}

#startup {
    display: none !important;
}
#watermark {
display: inline-block;
}

.curtheme::before {
    content: 'Dev';
   }