html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1;font-family: Segoe UI;color:black;}
h1 {font-size: 1.5em;margin-bottom: 10px;}
p{font-size: 15px;line-height: 1.3em;margin-bottom: 10px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle; font-family: Segoe UI;}

/*Special Values*/
:root {
    --wppickercolor: black;
}
:root.dark {
    --wppickercolor: white;
}



@font-face {
    font-family: Segoe UI;
    src: url(../fonts/segoeuisl.ttf);
    font-weight: bolder;
}
@media screen and (max-width:769px) {
    #themesrow, .themestext, .themeshr, #app6, #sliders {
        display: none !important;
    }
  }

@keyframes moveIt {
    from {background-position: right;}
    to {background-position: left;}
  }

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}
::-webkit-scrollbar
{
	width: 6px;
    height: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}



[type=checkbox] {
    width: 2rem;
    height: 2rem;
    color: black;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background 300ms;
    cursor: pointer;
  }
  
  
  /* Pseudo element for check styling */
  
  [type=checkbox]::before {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
  }
  
  
  /* Checked */
  
  [type=checkbox]:checked {
    background-color: currentcolor;
  }
  
  [type=checkbox]:checked::before {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
  }
  
  
  /* Disabled */
  
  [type=checkbox]:disabled {
    background-color: #CCD3D8;
    opacity: 0.84;
    cursor: not-allowed;
  }
  
  
  /* IE */
  
  [type=checkbox]::-ms-check {
    content: "";
    color: transparent;
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    border: 0;
    background-color: transparent;
    background-size: contain;
    box-shadow: inset 0 0 0 1px #CCD3D8;
  }
  
  [type=checkbox]:checked::-ms-check {
    box-shadow: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
  }

/* End of special values */
.appsHtxt {
    font-family: Segoe UI;
    text-align: center;
    margin: 12px 0px;
}

.curtheme::before {
 content: 'Default';
}

#colorop {
    transition: 0.5s;
}

h1.dark, strong.dark, .centrdAppsTxt.dark, a#dmToggle.dark, #abranding a.dark, .abttxt.dark, span.winclose.dark, .curthemea.dark, .curtheme.dark {
    color: white !important;
}
button.dark, #notebutton.dark {
    color: white;
    background: black;
    border-color: white;
}
span.dark {
    border-color: white !important;
}


.slider {
    width: 100px;
    border-radius: 16px;
    border: transparent;
    cursor: e-resize;
  }
  
  #colouredSlider {
    background: -webkit-linear-gradient(left, red, orange, yellow, lime, aqua, blue, purple, red);
    background: -o-linear-gradient(left, red, orange, yellow, lime, aqua, blue, purple, red);
    background: -moz-linear-gradient(left, red, orange, yellow, lime, aqua, blue, purple, red);
    background: linear-gradient(to right, red, orange, yellow, lime, aqua, blue, purple, red);
    cursor: e-resize;
    border-radius: 6px;
  }
  
  #colouredSlider .ui-slider-range {
    background: red;
    border-radius: 16px;
  }
  
  #colouredSlider .ui-state-default,
  .ui-widget-content .ui-state-default {
    background: none;
    background-color: red;
     border-radius: 16px;
     cursor: e-resize;
  }
  #bwSlider {
    background: -webkit-linear-gradient(black, white);
    background: -o-linear-gradient(black, white);
    background: -moz-linear-gradient(black, white);
    background: linear-gradient(to right, black, white);
    border-radius: 6px;
    cursor: e-resize;
  }
  
  #bwSlider .ui-slider-range {
    background: black;
    border-radius: 16px;
  }
  
  #bwSlider .ui-state-default,
  .ui-widget-content .ui-state-default {
    background: none;
    background-color: rgb(130, 130, 130);
    border-radius: 16px;
    cursor: e-resize;  
}


#desktop {
    font-family: Segoe UI;
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover !important;
    background: url("../img/bg.png");
    background-color: #3B6EA5;
	overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}


#time { 
    position: absolute;           
    top: 2px;
    right: 2px;
    color: black;
    font-family: Segoe UI;
    text-align: right;
    font-size: 15px;
    transition: 0.2s;
}
#date { 
    position: absolute;           
    top: 21px;
    right: 2px;
    color: black;
    font-family: Segoe UI;
    text-align: right;
    font-size: 15px;
    transition: 0.2s;
}

#time.dark, #date.dark {
    color: white !important;
}

#appsmenu {
    position: fixed;
    width: 260px;
    height: 0px;
    left: 10px;
    right: 0;
    bottom: 62px;
    z-index: 2000;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    background: #d6d6d69f;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 16px;
}

#appsmenu.dark {
    background: #2929299f;
}

#appsmenu.opened {
    height: 390px; 
}

#appicons {
	background:transparent;
	border:solid 1px transparent;
	margin: 7px 0 7px 7px;
	height: 72%;
	overflow-y: scroll;
	float:left;
	display:block;
	padding:0;
	list-style:none;
	transition: 0.2s;
}
#appicons a {
    border: solid 1px transparent;
    display: block; 
    padding:3px; 
    margin:3px;
    text-decoration: none; 
    min-width:220px;
    cursor: pointer;
    text-align: left;
    transition: 0.2s;
}
#appicons.dark {
    color: white !important;
}
#appicons a:hover {
	-moz-border-radius:3px; 
    -webkit-border-radius:3px;
    background: #ffffff7a;
    border: 1px solid white;
    transition: 0.1s;
}
#appicons a.dark:hover {
    background: #0000007a;
    border: 1px solid black;
}
#appicons a img {
    border:0; 
    vertical-align:middle; 
    margin:0 5px 0 0;
}
#appicons a br {
    display: none;
}
#themesrow {
    overflow-x: scroll;
    display: flex;
    width: 99%;
    height: 36px;
    position: static;
}
#abranding {
        display: flow-root;
       align-items:center;
       font-size: 1.5em;
}

  .tab {
    padding: 10px;
    height: 73%;
    overflow-y: scroll;
    margin: -15px 0px;
}
#tabsettings {
    padding: 10px 10px;
}
#tabsettings button {
    margin: 0px -1px;
}
/*.flagsbtn {
    display: none;
}*/
.textinput {
    border-radius: 16px;
    border: 2px solid;
    border-color: black;
}
.textinput.dark {
      background: black;
      color: white;
      border: 2px solid;
}


.wppicker::-webkit-file-upload-button {
    visibility: hidden;
  }
  .wppicker::before {
    font-family: Segoe UI;
    content: 'Select your wallpaper';
    display: inline-block;
    background: #CCC;
    font-size: 15px;
    border: 2px solid;
    border-color: var(--wppickercolor);
    border-radius: 5px;
    height: 22px;
    margin: 0px 2px;
    padding: 2px;
    font-weight: bold;
    color: black;
  }

  .wppicker {
    cursor: pointer;
    color: transparent;
  }
  .wppicker.dark::before {
    color: white;
    background: black;
}


.context-menu {
    position: absolute;
    text-align: center;
    background: #d6d6d660;
    border: 3px solid transparent;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.2s;
}
.context-menu.dark {
    background: #29292960;
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
}

.context-menu ul li {
    border-radius: 16px;
    background: transparent;
    padding-bottom: 7px;
    padding-top: 7px;
    border: 1px solid transparent;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}
.context-menu ul li.dark {
    color: white;
}


.context-menu ul li:hover {
    background: #00000024;
    border: 1px solid white;
}
.bottomBtns {
	position: absolute;
	bottom: 2px;
	right: 15px;
}
.bottomBtns a {
    font-family: Segoe UI;
    text-decoration: transparent;
}
#userProfile {
	position: absolute;
	bottom: 0px;
	right: 0;
	left: 0;
}
#userProfile.dark {
    color: white;
}
#userProfile a {
    font-family: Segoe UI;
    text-decoration: transparent;
    border: solid 1px transparent;
    display: inline-flex;
    padding:3px;
    line-height: 10.5px;
    margin: 2px;
    text-decoration: none;
    min-width: 230px;
    text-align: left;
    transition: 0.2s;
}

#userProfile img {
    margin: 0px 3px;
    border-radius: 16px;
}
#userProfile hr {
    margin: 0 !important;
    background: black;
    border: 0px solid transparent;
}

#userProfile hr.dark {
    background: white !important;
}

#settingsUP {
        right: 5px;
        bottom: 4.5px;
        position: absolute;
        cursor: pointer;
}
/*.btmbtninvert {
    filter: invert(1);
}*/
#startup {
    position: fixed;
    display: block; 
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: 999999;
}
.startuplogo {
    position: absolute;
    top: 25%;
    width: 99%;
    text-align: center;
    font-size: 18px;
  }
.startupload {
    position: absolute;
    top: 75%;
    width: 99%;
    text-align: center;
    font-size: 18px;
  }
  button {
    border: 2px solid;
    border-color: black;
    border-radius: 5px;
    font-size: 15px;
    background: #CCC;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    margin: 0px 2px;
    font-family: Segoe UI;
  }

.window {
    position: absolute;
    border: 2px solid #000;
    /*background: #0000007a;
    border-radius: 5px;*/
    z-index: 1000;
    background: #d6d6d660;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.window.dark {
    background: #29292960;
}
.window.closed {
	display: none;
}
.window.minimizedWindow {
	display: none;
}
.window.fullSizeWindow {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    border-radius: 0;
    bottom: 32px !important;
    border: none !important;
}


.fullSizeWindow {
    display: block;
      border: 2px solid transparent;
      border-radius: 0px;
      position: fixed;
      left: 0px !important;
      top: 0px !important;
      height: 100% !important;
      width: 100% !important;    
}
.fullSizeWindow .ui-resizable-handle {
	display: none;
}

.fullSizeWindow .windowHeader > span {
    border-radius: 0px;
}

.windowHeader {
    background-color: transparent;
    text-align: right;
    border-bottom: 2px solid transparent;
    margin: 5px;
    border-radius: 8px;
    cursor: move;
    height: 28px;
}
.activeWindow .windowHeader {
    background-color: transparent;
}
.windowHeader > span {
    display: inline-block;
    cursor: pointer;
    border: 2px solid transparent;
    margin-left: 4px;
    font-size: 19px;
    padding: 2px 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    border-radius: 12px;
    line-height: 20px;
    width: 12px;
    height: 22px;
    position: relative;
    overflow: hidden;
    border-color: transparent !important;
}
.windowHeader > span:hover {
	background: rgba(255,255,255,0.3);
}
.windowHeader > span > span {
    display: inline-block;
    height: 8px;
    width: 10px;
    position: absolute;
    top: 6px;
    left: 10px;
}
.winminimize > span {
	border-bottom: 3px solid;
	border-color: black;
}
.winmaximize > span {
	border: 2px solid;
	border-top: 3px solid;
    border-color: black;
}
.winmaximize > span:nth-child(2) {
	display: none;
}
.fullSizeWindow .winmaximize > span:nth-child(1) {
	margin: 2px 0 0 -4px;
}
.fullSizeWindow .winmaximize > span:nth-child(2) {
    display: inline-block;
    top: 3px;
    left: 12px;
}
.wincontent {
    padding: 0px;
    min-width: 200px;
    min-height: 140px;
    border: 2px solid transparent;
    margin: 2px;
    border-radius: 0 0 5px 5px;
}

.windowHeader > strong {
    float: left;
    margin: 0px 3px 0 10px;
    line-height: 29px;
    font-size: 17px;
    color: black;
    display: inline-flex;
}
.taskbarPanel {
    display: inline-flex;
    position: relative;
    border: 2px solid transparent;
    border-radius: 5px;
    line-height: 33px;
    font-family: Segoe UI;
    font-size: 15px;
    margin: 2px 4px;
    padding: 0.3px 0px;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1);
    transition: 0.5s;
    color: black;
}
.taskbarPanel.dark {
    color: white;
}
.winheadimg {
    margin: 1px 3px;
}
.taskpanelimg {
    margin: 0px 0px;
}
#appsPanel {
    display: inline-block;
    border: transparent;
    position: relative;
    font-size: 15px;
    padding: 0px 5px;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.12);
    height: 0px;
    transition: 0.5s;
    border-radius: 4px;
    left: 0;
    position: absolute;
}
#appsPanel img {
    transition: 0.5s;
    margin:0px 0px;
}
#appsPanel img:hover {
background: rgba(0, 0, 0, 0.5);
transition: 0.5s;
border-radius: 4px;
}

.taskbarPanel:hover{
    background: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    color: #FFF;
}
.taskbarPanel.dark:hover{
    background: rgba(255, 255, 255, 0.3);
}
.taskbarPanel.activeTab {
    background-color: #2e2e2e;
    transform: scale(1.165);
    color: white;
}
.taskbarPanel.activeTab:hover {
    background: rgba(0, 0, 0, 0.3);
}
.taskbarPanel.activeTab.dark {
    background-color: #ffffff;
    color: black;
}
.taskbarPanel.activeTab.dark:hover {
    background: rgba(255, 255, 255, 0.3);
}
.taskbarPanel.minimizedTab {
    transition: 0.5s;
}

.taskbarPanel.closed {
	display: none;
}
.taskbarPanel > .bronzeReversed.dark {
    filter: invert(0);
    transition: 0.2s;
}
.taskbarPanel.activeTab > .bronzeReversed.dark {
  filter: invert(1);
  transition: 0.2s;
}
.taskbarPanel > .bronzeReversed {
    filter: invert(1);
    transition: 0.2s;
}
.taskbarPanel.activeTab > .bronzeReversed {
  filter: invert(0);
  transition: 0.2s;
}
#taskbar {
	position: absolute;
	height: 42px;
	border-top: 1px solid transparent;
	bottom: 10px;
	width: 99%;
	border-radius: 6px;
	margin: 0 auto;
	left: 0;
	z-index: 2000;
	right: 0;
	background: #d6d6d69f;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	transition: 0.5s;
	text-align: center;
}
#taskbar.dark {
    background: #2929299f;
}
#icons {
	position: absolute;
	z-index: 1;
	top: 20px;
	left: 20px;
    transition: 0.2s;
}
#icons.dark {
    color: white; 
}
#icons a {
    display: table;
    cursor: pointer;
    padding: 2px 10px;
    text-align: center;
    transition: 0.11s;
    margin-top: 5px;
}
#icons a:hover {
    background: #00000050;
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
    color: #FFF;
    border-radius: 5px;
    transition: 0.2s;
}
#icons img {
    padding: 2px;
}
#watermarkold {
    position: absolute;
    display: none;
    bottom: 50px;
    right: 20px;
    font-weight: bold;
    font-size: 15px;
}

#watermark {
    position: absolute;
    display: none;
    bottom: 65px;
    right: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff59;
}
  

/*Demo styles BEGIN*/
#window0 {	top: 35px;	left: 240px;}
#window1 {	top: 400px; left: 120px;}
#window2 {	top: 250px; left: 300px;}
#window3 {	top: 125px; left: 420px;}
#window4 {	top: 35px;	left: 240px;}
#window5 {	top: 35px;	left: 240px;}
#window6 {	top: 35px;	left: 240px;}
#window7 {	top: 35px;	left: 110px;}
#window8 {	top: 35px;	left: 110px;}



#window0 .wincontent {	width: 660px; height: 400px;	}
#window1 .wincontent {	width: 500px; height: 300px;	}
#window2 .wincontent {	width: 282px; height: 350px;	}
#window3 .wincontent {	width: 450px; height: 450px;	}
#window4 .wincontent {	width: 255px; height: 248px;	}
#window5 .wincontent {	width: 640px; height: 480px;	}
#window6 .wincontent {	width: 830px; height: 635px;	}
#window7 .wincontent {	width: 358px; height: 365px;	}

#window6 > .wincontent iframe {
    height: calc(100% - 20px);
}


@media screen and (max-width:960px){
	#window0 {	left: 10px;	}
	#window3 {	left: 50px;	}	
}
@media screen and (max-width:770px){
	#window0 .wincontent {	width: 460px;	}
	#window2 {	left: 100px;	}
	#window1 {	top: 190px;	left: -5px;	}
}
@media screen and (max-width:540px){
#window0 .wincontent {	width: 230px; height: 200px;	}
#window3 .wincontent {
    width: 275px;
    height: auto;
}
#window3 {    top: 9px;    left: 10px;	}
#window2 {    left: -118px;	}
#window1 .wincontent {    width: auto;    height: 300px;	}
}
#window1 .wincontent {
    min-width: 520px;
    min-height: 352px;
    }
#window2 .wincontent {
    min-width: 340px;
    min-height: 350px;
    }
#window3 .wincontent {
min-width: 430px;
min-height: 486px;
}
#window4 .wincontent {
min-width: 340px;
min-height: 335px;  
}
#window7 .wincontent {
min-width: 358px;
min-height: 365px;
}
#window8 .wincontent {
    min-width: 464px;
    min-height: 280px;

    }


/* Apps CSS */
/*Calc*/
.calcbutton {
         background-color:white;
         color: black;
         border: solid 2px;
         border-color: transparent;
         box-shadow: 0px 0px 10px 0px #000000;
         width: 75%;
         height: 75%;
         border-radius: 50px;
         margin: 16px 2px;
         font-size: 20px;
         font-family: Segoe UI;
        }

.calctext {
        background-color:white;
        border: solid 2px;
        border-color: black;
        width:96%;
        border-radius: 50px;
        height: 100%;
        font-size: 18px;
        font-family: Segoe UI;
    }
.calctable {
    border: 2px transparent;
    height: 100%;
    width: 100%;
 }
 /*Media Player*/
 .wplist {
 margin-right: 100px; 
 width: 100%; 
 height: calc(100% - 60px); 
 font-size: 11px; 
 overflow-y: scroll; 
 overflow-x: hidden; 
 background: transparent;
 }

 .catsel, #pages li {
    cursor: pointer;
 }

 li::marker {
   content: ''; 
}
/*Notepad*/
#document-textarea {
    background: white;
    color: black;
}
#document-textarea.dark {
    background: black;
    color: white;
    border-color: white;
}
#noteapp {
    display: flex;
    flex-direction: column;
}
#document-textarea {
    width: 100%;
    height: 91%;
    position: absolute;
    resize: none;
    outline: none;
    overflow: unset;
    padding: 0;
    border: 2px solid;
    border-color: black;
    white-space: pre;
    padding: 2px;
    border-radius: 16px;
    box-sizing: border-box;
    font-size: large;
    font-family: Segoe UI;
}
#notebutton {
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 15px;
    padding: 1px 4px;
    background: #CCC;
    font-weight: bold;
    cursor: pointer;
    height: 17px;
    margin: 1px 6px;
    text-decoration: none;
    color: black;
  }
  /*Bronze*/
  .gsc-search-button-v2 {
    font-size: 0;
    padding: 11px 10px;
    width: auto;
    vertical-align: middle;
    border: 1px solid !important;
    border-radius: 16px !important;
    border-color: transparent !important;
    background-color: white !important;
    transition: 0.1s !important;
    cursor: pointer;
}
.gsc-search-button-v2.dark {
  background-color: black !important;
}

.gsc-input-box {
  border-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: 0.1s !important;
}



  .gsc-search-button-v2:hover {
    background: #ffffffbe !important;
    border: 1px solid white !important;
    transition: 0.1s !important;
  }
  .gsc-search-button-v2 svg {
    fill: black !important;
}
.gsc-search-button-v2.black svg {
  fill: white !important;
} 