html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1;	font-family: Arial, Helvetica, sans-serif;color:white;}
h1 {font-size: 1.5em;margin-bottom: 10px;}
p{font-size: 15px;line-height: 1.3em;margin-bottom: 10px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}
::-webkit-scrollbar
{
	width: 6px;
    height: 6px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
  #appsHtxt {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin: 12px 0px;
}

#colorop {
    transition: 0.5s;
}

a, h1, p, ul, input {
    color: white;
}

desktop {
	font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    height: 100%;
    width: 100%;
    background-size: cover !important;
    background: url("https://bing.biturl.top/?resolution=3840&format=image&index=0&mkt=en-CA");
    background-color: #3B6EA5;
	overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}
#time { 
    position: absolute;           
    top: 6px;
    right: 2px;
    color: white;
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-align: right;
    font-size: 15px;
}

#appsmenu {
    position: fixed;
    /* margin: 0 auto; */
    width: 260px;
    height: 0px;
    left: 0;
    right: 0;
    bottom: 33px;
    z-index: 2000;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    background: transparent;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-top-right-radius: 16px;
}

#appsmenu.opened {
    height: 390px; 
}

#appicons {
	background:transparent; 
    border:solid 1px transparent; 
    margin: 7px 0 7px 7px;
    height: 85%;
    overflow-y: scroll;
    float:left; 
    display:block; 
    padding:0; 
    list-style:none;
}
#appicons a {
    border: solid 1px transparent;
    display: block; 
    padding:3px; 
    margin:3px;
    color: white;
    text-decoration: none; 
    min-width:220px;
    cursor: pointer;
    text-align: left;
}
#appicons a:hover {
	-moz-border-radius:3px; 
    -webkit-border-radius:3px;
    background: #0000007a;
    border: 1px solid white;
    transition: 0.1s;
}
#appicons a img {
    border:0; 
    vertical-align:middle; 
    margin:0 5px 0 0;
}
#appicons a br {
    display: none;
}
#themesrow {
    overflow-x: scroll;
    display: flex;
    width: 99%;
    height: 36px;
    position: static;
}
#abranding {
        display: flow-root;
       align-items:center;
       font-size: 1.5em;
}

  .tab {
    padding: 10px;
    height: 70%;
    overflow-y: scroll;
    margin: -15px 0px;
}
#tabsettings {
    padding: 10px 10px;
}
#tabsettings button {
    margin: 0px -1px;
}



.context-menu {
    position: absolute;
    text-align: center;
    background: transparent;
    border: 3px solid transparent;
    background: transparent;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
}

.context-menu ul li {
    border-radius: 16px;
    background: transparent;
    padding-bottom: 7px;
    padding-top: 7px;
    border: 1px solid transparent;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}


.context-menu ul li:hover {
    background: #00000024;
    border: 1px solid white;
}
.bottomBtns {
	position: absolute;
	bottom: 2px;
	right: 15px;
}
.bottomBtns a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: transparent;
}
.btmbtninvert {
    filter: invert(1);
}
#startup {
    position: fixed;
    display: block; 
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: 999999;
}
.startuplogo {
    position: absolute;
    top: 25%;
    width: 99%;
    text-align: center;
    font-size: 18px;
  }
.startupload {
    position: absolute;
    top: 75%;
    width: 99%;
    text-align: center;
    font-size: 18px;
  }
  button {
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
    background: #CCC;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    margin: 0px 2px;
  }

.window {
    position: absolute;
    border: 2px solid #000;
    /*background: #0000007a;
    border-radius: 5px;*/
    z-index: 1000;
    background: transparent;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.window.closed {
	display: none;
}
.window.minimizedWindow {
	display: none;
}
.window.fullSizeWindow {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    border-radius: 0;
    bottom: 32px !important;
    border: none !important;
}


.fullSizeWindow {
    display: block;
      border: 2px solid transparent;
      border-radius: 0px;
      position: fixed;
      left: 0px !important;
      top: 0px !important;
      height: 100% !important;
      width: 100% !important;    
      z-index: 9999999 !important;
}
.fullSizeWindow .ui-resizable-handle {
	display: none;
}

.windowHeader {
    background-color: transparent;
    text-align: right;
    border-bottom: 2px solid transparent;
    margin: 5px;
    border-radius: 8px;
    cursor: move;
    height: 28px;
}
.activeWindow .windowHeader {
    background-color: transparent;
}
.windowHeader > span {
    display: inline-block;
    cursor: pointer;
    border: 2px solid transparent;
    margin-left: 4px;
    font-size: 19px;
    padding: 2px 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    border-radius: 12px;
    line-height: 20px;
    width: 12px;
    height: 20px;
    position: relative;
    overflow: hidden;
}
.windowHeader > span:hover {
	background: rgba(255,255,255,0.3);
}
.windowHeader > span > span {
    display: inline-block;
    height: 8px;
    width: 10px;
    position: absolute;
    top: 6px;
    left: 10px;
}
.winminimize > span {
	border-bottom: 3px solid white;
}
.winmaximize > span {
	border: 2px solid white;
	border-top: 3px solid white;
}
.winmaximize > span:nth-child(2) {
	display: none;
}
.fullSizeWindow .winmaximize > span:nth-child(1) {
	margin: 2px 0 0 -4px;
}
.fullSizeWindow .winmaximize > span:nth-child(2) {
    display: inline-block;
    top: 3px;
    left: 12px;
}
.wincontent {
    padding: 0px;
    min-width: 200px;
    min-height: 140px;
    border: 2px solid transparent;
    margin: 2px;
    border-radius: 0 0 5px 5px;
}

.windowHeader > strong {
    float: left;
    margin: 0px 3px 0 10px;
    line-height: 29px;
    font-size: 17px;
    color: white;
}
.taskbarPanel {
    display: inline-block;
    position: relative;
    border: 2px solid transparent;
    border-radius: 5px;
    line-height: 12px;
    font-size: 15px;
    margin: 1px 4px;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    padding: 0 1px;    
    transform: scale(1);
    transition: 0.5s;
}
.appsPanel {
    display: inline-block;
    border: transparent;
    position: relative;
    font-size: 15px;
    padding: 0px 5px;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.12);
    height: 0px;
    transition: 0.5s;
}
.appsPanel img {
    transition: 0.5s;
    margin:0px 0px;
}
.appsPanel img:hover {
background: rgba(0, 0, 0, 0.5);
transition: 0.5s;
border-radius: 4px;
}
.taskbarPanel:hover{
    background: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    color: #FFF;
}
.taskbarPanel.activeTab {
    background-color: #2e2e2e;
    transform: scale(1.14);
}
.taskbarPanel.activeTab:hover {
    background: rgba(0, 0, 0, 0.3);
}
.taskbarPanel.minimizedTab {
    transition: 0.5s;
}

.taskbarPanel.closed {
	display: none;
}
#taskbar {
	position: absolute;
	height: 32px;
	border-top: 1px solid transparent;
	bottom: 0;
	left: 0;
    z-index: 2000;
	right: 0;
	background: transparent;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
	
}
#icons {
	position: absolute;
	z-index: 1;
	top: 20px;
	left: 20px;
}
#icons a {
    display: table;
    cursor: pointer;
    padding: 2px 10px;
    text-align: center;
    transition: 0.11s;
    margin-top: 5px;
}
#icons a:hover {
    background: #00000050;
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
    color: #FFF;
    border-radius: 5px;
    transition: 0.2s;
}
#icons img {
    padding: 2px;
}
#watermark {
    position: absolute;
    display: none;
    bottom: 50px;
    right: 20px;
    font-weight: bold;
    font-size: 15px;
}

/*Demo styles BEGIN*/
#window0 {	top: 35px;	left: 240px;}
#window1 {	top: 400px; left: 120px;}
#window2 {	top: 250px; left: 300px;}
#window3 {	top: 125px; left: 420px;}
#window4 {	top: 35px;	left: 240px;}
#window5 {	top: 35px;	left: 240px;}
#window6 {	top: 35px;	left: 240px;}
#window7 {	top: 35px;	left: 110px;}
#window8 {	top: 35px;	left: 110px;}


#window0 .wincontent {	width: 660px; height: 400px;	}
#window1 .wincontent {	width: 500px; height: 300px;	}
#window2 .wincontent {	width: 282px; height: 350px;	}
#window3 .wincontent {	width: 450px; height: 450px;	}
#window4 .wincontent {	width: 255px; height: 248px;	}
#window5 .wincontent {	width: 640px; height: 480px;	}
#window6 .wincontent {	width: 830px; height: 635px;	}
#window7 .wincontent {	width: 358px; height: 365px;	}
#window8 .wincontent {	width: 358px; height: 365px;	}

#window6 > .wincontent iframe {
    height: calc(100% - 20px);
}


@media screen and (max-width:960px){
	#window0 {	left: 10px;	}
	#window3 {	left: 50px;	}	
}
@media screen and (max-width:770px){
	#window0 .wincontent {	width: 460px;	}
	#window2 {	left: 100px;	}
	#window1 {	top: 190px;	left: -5px;	}
}
@media screen and (max-width:540px){
#window0 .wincontent {	width: 230px; height: 200px;	}
#window3 .wincontent {
    width: 275px;
    height: auto;
}
#window3 {    top: 9px;    left: 10px;	}
#window2 {    left: -118px;	}
#window1 .wincontent {    width: auto;    height: 300px;	}
}

#window7 .wincontent, #window8 .wincontent {
min-width: 358px;
min-height: 365px;
}