#bronzeTop {
 margin-top: 6px !important; 
 margin-left: 3px !important;
}
embed {
  margin: 7px;
  border: none !important;
  }
 #Bronze {
  height: 90%;
  width: 100%;
  border: 2px solid #ffffff !important;
  position: relative;
  margin-top: 20px !important;
  left: -10px;
  border-radius: 10px;
  }
  
 #bronzeTop {
  margin-top: 12px !important;
  }

#bronzeBar {
 margin-left: 25px;
}

button {
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-size: 15px;
  padding: 1px 4px;
  background: #CCC;
  font-weight: bold;
  cursor: pointer;
  height: 30px;
  margin: -5px 0px;
}



.gsc-control-cse.gsc-control-cse-en {
    background: none !important;
    border: none !important;
}

#bronzeHome, #bronzeBack, #bronzeForward {
 position: relative;
 float: left;
 left: 1px;
 margin: 2px;
 margin-top: 1px;
}
#bronzeForward {
  margin-right: 5px !important;
}
#bronzeHome > img, #bronzeBack > img, #bronzeForward > img {
   width: 20px;
}
  
  body {
    overflow: hidden !important;
  }
  
    #bronzeTop > #bronzeBar {
  width: 1000px;
  height: 30px !important;
  overflow: hidden;
  position: relative;
  display: inline-block;
  }
  
  #bronzeTop {
   margin: 0;
  position: absolute;
  top: 8px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  height: 30px;
  overflow: hidden;
  }
  
    
  
    #bronzeIcons {
   position: fixed;
   right: 10px;
   float: right;
   z-index: 1000;
   top: 4px;
   filter: invert(100%);
  }