#bronzeTop {
  margin-top: 6px !important; 
  margin-left: 3px !important;
 }
 embed {
   margin: 7px;
   border: none !important;
   }
  #Bronze {
   height: 90%;
   width: 100%;
   border: 2px solid #ffffff !important;
   position: relative;
   margin-top: 20px !important;
   left: -10px;
   border-radius: 10px;
   }
   
  #bronzeTop {
   margin-top: 12px !important;
   }
 
 #bronzeBar {
  margin-left: 25px;
 }
 
 #button {
   border: 2px solid;
   border-color: black;
   border-radius: 5px;
   font-size: 15px;
   padding: 1px 4px;
   background: #CCC;
   font-weight: bold;
   cursor: pointer;
   height: 30px;
   margin: -5px 0px;
   text-decoration: none;
   color: black;
 }
 #button.dark {
   background: black;
   color: white;
   border-color: white;
 }
 @media screen and (max-width:1024px) {
   #button {
     margin: 5px 0px;
   }
 }
 
 
 .gsc-control-cse.gsc-control-cse-en {
     background: none !important;
     border: none !important;
 }
 
 #bronzeHome, #bronzeBack, #bronzeForward {
  position: relative;
  float: left;
  left: 1px;
  margin: 2px;
  margin-top: 1px;
 }
 #bronzeForward {
   margin-right: 5px !important;
 }
 #bronzeHome > img, #bronzeBack > img, #bronzeForward > img {
    width: 20px;
 }
   
   body {
     overflow: hidden !important;
   }
   
     #bronzeTop > #bronzeBar {
   width: 1000px;
   height: 30px !important;
   overflow: hidden;
   position: relative;
   display: inline-block;
   }
   
   #bronzeTop {
    margin: 0;
   position: absolute;
   top: 8px;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   width: 90%;
   height: 30px;
   overflow: hidden;
   }
   
     
   
     #bronzeIcons {
    position: fixed;
    right: 10px;
    float: right;
    z-index: 1000;
    top: 40px;
    filter: invert(100%);
   }
 
   .tabb {
     padding: 10px;
     height: 100%;
     overflow: hidden;
     margin: -15px 0px;
 }
 
 #bronzeTabs {
   padding: 0px 10px;
 }
 
 .logo {
   font-size: 18px;
   filter: invert(100%);
 }
 #___gcse_0 {
   width: 99%;
   text-align: center;
   font-size: 18px;
 }
 
 .ogcode {font-family: Helvetica;position: absolute;top: 95%;width: 98%;text-align: center;font-size: 15px;color: white;}
 
 .gsc-control-cse.gsc-control-cse-en {
     background: none !important;
     border: none !important;
 }
 .container {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 90%;
   height: 140px;
   }
 
   .gsc-search-button-v2 {
     font-size: 0;
     padding: 11px 10px;
     width: auto;
     vertical-align: middle;
     border: 1px solid !important;
     border-radius: 16px !important;
     border-color: transparent !important;
     background-color: white !important;
     transition: 0.1s !important;
     cursor: pointer;
 }
 
 .gsc-input-box {
   border-radius: 8px;
   border-top-left-radius: 8px;
   border-bottom-left-radius: 8px;
   transition: 0.1s !important;
 }
 
 
 
   .gsc-search-button-v2:hover {
     background: #ffffffbe !important;
     border: 1px solid white !important;
     transition: 0.1s !important;
   }
   .gsc-search-button-v2 svg {
     fill: black !important;
 }